---
layout: home
---
<style>
.home-subtitle {
  text-align: center;
  
}
.home-info {
  margin: 0px 0px 0px 100px;
  
}
</style>

<div class="home">

    <div id="main" class="call-out"
         style="background-image: url('{{ site.header_feature_image | relative_url }}')">
        <h1> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
    </div>
    
</div>

<br>
<br>

<div class="home-subtitle">
  [WEBSITE UNDER CONSTRUCTION ] <br>
  At  <a href="https://2021.aclweb.org/">ACL-IJCNLP 2021</a> August 5/6, 2021. 
</div>

<div class="home-info">
<h2> Location </h2>
    NLP4Prog 2021 will be held in Bangkok, Thailand, co-located with <a href="https://2021.aclweb.org/">ACL-IJCNLP 2021 </a>. 
</div>  

<div class="home-info">
<h2> Overview </h2>
The proliferation of programming-related platforms such as GitHub and Stack Overflow has led to large amounts of rich, 
open-source data consisting of programs associated with natural language, such as natural language questions and answers with code snippets, 
open-source repositories with natural language comments, and communications between software developers. 
At the same time, deep learning based techniques have shown promising performance for modeling both natural language and computer programs. 
Driven by these revolutions on data and models, recent years have witnessed a major resurgence of using NLP techniques to assist programming (NLP4Prog).
<br/><br/>
As promising as the current developments are, there are still many challenges remaining. 
This workshop aims to bring related communities (e.g., NLP, Software Engineering, Programming Language, Human-Machine Interaction, Robotics) 
together to review the recent advances related to NLP4Prog and discuss the remaining challenges and what to expect in the short- and long-term future. 
While there are similar workshops such as NLP-SEA and NLPaSE held recently, most of them are in conjunction with software engineering venues; 
to the best of our knowledge, this is the first workshop focusing on NLP for programming and to be held in NLP venues.

</div> 

<section class="post-content">
  {% if page.bootstrap %}
  <div class="bootstrap-iso">
  {% endif %}
	<h2> Overview </h2>
The with natural language, such as natural language questions and answers with code snippets, 
open-source repositories with natural language comments, and communications between software developers. 
  {% if page.bootstrap %}
  </div>
  {% endif %}
  </section>
